// Background color of the whole context menu
.choice-box .context-menu { -fx-background-color:  #696969;
}
// Focused item background color in the list
.choice-box .menu-item:focused {
-fx-background-color:  #696969;
}
// Text color of non-focused items in the list
.choice-box .menu-item > .label {
 -fx-text-fill: white;
 }
// Text color of focused item in the list
.choice-box .menu-item:focused > .label {
 -fx-text-fill:  #191919;
 }
.list-cell {
    -fx-cell-hover-color:  #696969;
    -fx-background-color: #696969;
    -fx-text-fill: white;
}

.list-cell:filled:hover {
    -fx-cell-hover-color:  #696969;
    -fx-text-fill: white;
    -fx-background-color: #696969;
}
.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color:#3a3a3a;
    -fx-text-fill: white;
}
.close-button {
    -fill: -black;
    -fx-shape: "M563.8 512l262.5-312.9c4.4-5.2.7-13.1-6.1-13.1h-79.8c-4.7 0-9.2 2.1-12.3 5.7L511.6 449.8 295.1 191.7c-3-3.6-7.5-5.7-12.3-5.7H203c-6.8 0-10.5 7.9-6.1 13.1L459.4 512 196.9 824.9A7.95 7.95 0 0 0 203 838h79.8c4.7 0 9.2-2.1 12.3-5.7l216.5-258.1 216.5 258.1c3 3.6 7.5 5.7 12.3 5.7h79.8c6.8 0 10.5-7.9 6.1-13.1L563.8 512z";
}
.minimize-button {
    -fill: -black;
    -font-size: 1;
    -fx-shape: "M480 480H32c-17.7 0-32-14.3-32-32s14.3-32 32-32h448c17.7 0 32 14.3 32 32s-14.3 32-32 32z";
}